.client {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-link-color);
  color: var(--social-link-color);
  border-radius: 4px;
  transition: color var(--transition-dur-func),
    border var(--transition-dur-func);
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-blue);
  border: 1px solid var(--accent-blue);
}

.client-icon {
  fill: currentColor;
}